<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PawFinders</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link
      type="text/css"
      rel="stylesheet"
      href="css/materialize.min.css"
      media="screen,projection"
    />
    <link rel="stylesheet" href="css/profile.css" />
  </head>
  <body>
    <header>
      <h5>PawFinders</h5>
      <div class="right-links">
        <ul>
          <li><a href="findsitter.html">Find a Sitter</a></li>
          <li><a id="viewBookingsLink">View bookings</a></li>
          <li><a href="javascript:void(0);" id="logoutLink">Logout</a></li>
        </ul>
      </div>
    </header>

    <div class="container">
      <h2>Profile</h2>
      <div class="profile-info">
        <h3>Personal Information</h3>
        <p><strong>First Name:</strong> <span id="firstName"></span></p>
        <p><strong>Last Name:</strong> <span id="lastName"></span></p>
        <p><strong>Phone:</strong> <span id="phone"></span></p>
        <p><strong>Email:</strong> <span id="email"></span></p>
        <p><strong>Address:</strong> <span id="address"></span></p>
        <p><strong>Suburb:</strong> <span id="suburb"></span></p>
        <p><strong>Postal Code:</strong> <span id="postalCode"></span></p>
      </div>
      <button id="review" class="review-button">Leave a Review</button>
      <button id="contact" class="review-button">Book for Services</button>

      <script>
        document
          .getElementById("contact")
          .addEventListener("click", function () {
            // Navigate to another HTML page
            window.location.href = "services.html"; // Change "services.html" to your target page
          });
      </script>
    </div>
    <footer class="navy-blue">
      <p>&copy; 2024 PawFinders</p>
    </footer>
    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    ></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script
      src="https://cdn.socket.io/4.7.5/socket.io.min.js"
      integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="js/walkerProfile.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
  </body>
</html>
