* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    color: #333;
}

p {
    font-size: 1.2em;
    color: #555;
}

.search-bar {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
}

form {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
}

.search-btn {
    padding: 10px 20px;
    background-color: #2d807e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.search-btn:hover {
    background-color: #225f5c;
}


.contact-button {
    background-color: #007B7F; /* Button color */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute; /* Positioning relative to the card */
    bottom: 15px; /* Distance from the bottom of the card */
    right: 15px; /* Distance from the right side of the card */
}

.contact-button:hover {
    background-color: #005F5F; /* Darker button color on hover */
}

